.site-content {
    margin: 0 auto;
    padding: 0;
    padding-top: 100px;
    padding-bottom: 176px;
    position: relative;
    z-index: 1;
    width: 1280px;
    display: flex;
    color: $page-color-white;
    background-color: #2C343E;
    border-radius: 10px;

}
.site-content__head {
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
}
.site-content__page {
    width: 540px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    opacity: 0.8;
}
.site-content__img{
    position: absolute;
    z-index: 1;
    bottom: 65px;
    left: 720px;

}