.site-header {
    padding-top: 44px;
    padding-bottom: 44px;

}
.site-header__wrraper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.site-header__button{
    display: none;
    }
   @include media{
        
 
        .site-header__wrraper{
            display:block;
            position: relative;
            z-index: 1;
        }
        .site-header__wrraper-section {
            display: flex;
            justify-content: space-between; 
        }
        .site-header__button{
        
            display: block;
            
        }
    }
