.site-wrraper-list {
    margin: 0;
    padding-left: 0px;
    display: flex;
    align-items: center;
    
  }
  .site-wrraper-list__item {
      @include list-unstyle;
     
    
   }
   .site-wrraper-list__item:not(:last-child){
       margin-right: 32px;
   }
   .site-wrraper-list__item-link { 

     margin-right: 24px;
     font-family: 'Barlow';
     text-decoration: none;
     font-weight: 700;
     font-size: 12px;
     line-height: 15px;
     letter-spacing: 0.923077px;
     text-transform: uppercase;
     color: #83888f;
     &:hover{
      color: #28cf9d;
    }
     }
    
    
    .site-wrraper-list__item--footer{
        display: flex;
        align-items: center;
    }
    @media only screen and (max-width:450px){
      .site-wrraper-list--mobile{
        padding: 40px 247px 150px 377px;
        display: none;
        transform: translateX(-100%);
        background: linear-gradient(180deg, rgba(254, 252, 247, 0.504981) 0%, #FEFCF7 55.94%);
       


       
    }
    .site-wrraper-list--open{
        position: absolute;
        padding-top: 81px;
        z-index: 1;
        display: flex;
        flex-direction: column;
        top: 100%;
        left: -170px;
        right: 83px;
        transition: all 0.7s;
        opacity: 1;
        transform: translateX(0%);
    
    }
    .site-wrraper-list__item{

        &:not(:last-child){
            margin-right: 0;
            margin-bottom: 32px;

        }
        &--width{
            width: 164px;
        }

       
    }

 
    .site-wrraper-list__item-link--mobile{
        font-family: 'Fraunces';
        font-weight: 900;
        font-size: 24px;
        line-height: 32px;
        text-align: center;
        color: #333d4b;
            }
    
    .site-wrraper-list__item-link--witdth {
        display: block;
        width: 292px;
    }
    .site-wrraper-list--footer{
      margin-top: 50px;
      display: flex;
      flex-direction: column;
  }



    }