.site-main-article {
    margin-top: 351px;
        
}
.site-main-article__head {
    margin-top: 0px;
    margin-bottom: 178px;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #83888f;
}
@include media{
    .site-main-article {
        text-align: center;
            
    }
    

}